.carousel-item {
  position: relative;
  width: 100%;
  padding-top: 30%;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px) brightness(0.5);
  transform: scale(1.1);
}

.carousel-control-prev, .carousel-control-next {
  width: 4rem;
}

.card, .accordion-body {
  background-color: #0d1326;
  transition: box-shadow 0.3s ease;
}

.card-img-top {
  height: 9rem;
}

.card:hover {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-color: white;
}

.div-icon {
  width: 2.5rem;
  height: 2.5rem;
  bottom: 1rem;
  right: 1rem;
}